.project__container{
    width: 40%; 

}

.project__item{
    background: #1b0000;
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);

}

.project__item:hover{
    background: transparent;
    border-color: #1b0000;
}

.project__item-image{
    border-radius: 1.5rem;
    overflow: hidden;
}

.swipe{
    text-align: center;
}

.project__item h3{
margin: 1.2rem 0 2rem;
text-align: center;
}

.project__title{
    margin-top: 0.7rem;
    justify-content: center;
    display: flex;
    gap: 2rem;
}
.title__bold, .description__bold{
    font-weight: bold;
}

#bullet__description{
    gap: 2rem;    
    list-style: circle;
}


.project__item-cta{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    justify-content: center;
    

}

/* TABLET */
@media screen and (max-width: 1024px) {
    .project__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

/* PHONES */
@media screen and (max-width: 600px) {
    .project__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    
}

